h2 {
  color: $color-black;
  font-size: 2em;
  margin: 0;
  margin-bottom: 1em;
}

p {
  color: $color-black-light;
  font-size: 1.125em;
  margin: 0;
  margin-bottom: 0.875em;
}

a {
  color: $color-black;
}