// склеить с миксинами
// fonts

$font: 'Lato', sans-serif;

// colors

$color-primary: #ff4d4d;
$color-black: rgba(#000000, .8);
$color-black-light: rgba(#000000, .6);
$color-light: rgba(#000000, .1);

// media

$screen-large: 1200px;
$screen-medium: 991px;
$screen-small: 768px;
$screen-extra-small: 320px;
