.-is-footer {
	margin-top: -5em;
	padding: 2em 0;
	background-color: rgba(black, .85);
	text-align: center;

	p {
		color: rgba(white, .75);
		font-size: 1em;
		line-height: 1;
	}

	a {
		color: white;
	}
}