.wrapper {

	&.-color-black {
		background-color: $color-black;

		h2 {
			color: white;
		}

		p {
			color: rgba(white, .75);
		}

		a {
			color: white;
		}

		+ .-color-black {
			border-top: 1px solid rgba(white, .2);
		}
	}
}

