.wrapper {
	min-width: $screen-extra-small;
	padding: 6em 0;
	overflow: hidden;

	// intro section
	.-is-header + & {
		font-size: 1.25em;
		text-align: center;

		@include respond-to(extra-small) {
			text-align: left;
		}

		.container {
			max-width: 800px;
		}

		h2 {
			font-size: 2.25em;
		}
	}

	.container {
		width: $screen-large;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 20px;

		@include respond-to(medium) {
			width: $screen-medium;
		}

		@include respond-to(small) {
			width: $screen-small;
		}

		@include respond-to(extra-small) {
			width: 100%;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}