.wrapper {

	&.-color-primary {
		background-color: $color-primary;

		&:nth-of-type(2n) {
			background-image: linear-gradient(to right, rgba(adjust-hue($color-primary, 40deg), .0), rgba(adjust-hue($color-primary, 40deg), .15));
		}

		&:nth-of-type(2n+1) {
			background-image: linear-gradient(to left, rgba(adjust-hue($color-primary, 40deg), .0), rgba(adjust-hue($color-primary, 40deg), .15));
		}

		h2 {
			color: white;
		}

		p {
			color: rgba(white, .75);
		}

		a {
			color: white;
		}

		+ .-color-primary {
			border-top: 1px solid rgba(white, .25);
		}
	}
}
