$font: 'Lato', sans-serif;

$color-primary: rgb(255,77,77);
$color-black: rgba(0,0,0,0.8);
$color-black-light: rgba(0,0,0,0.6);
$color-light: rgba(0,0,0,0.1);

$screen-large: 1200px;
$screen-medium: 991px;
$screen-small: 768px;
$screen-extra-small: 320px;